body {
  background: linear-gradient(135deg, #141e30, #243b55);
  font-family: Arial;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  background: rgba(0,0,0,0.6);
  padding: 40px;
  border-radius: 14px;
  width: 380px;        /* ⬅️ diperbesar */
  text-align: center;
}

h2 {
  font-size: 26px;
  margin-bottom: 20px;
}

input, select {
  width: 100%;
  padding: 14px;       /* ⬅️ lebih tinggi */
  margin: 10px 0;
  border-radius: 8px;
  font-size: 16px;
  border: none;
}

button {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  background: #00c853;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #00a843;
}

a {
  color: #00e5ff;
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 480px) {
  .container {
    width: 90%;
    padding: 30px;
  }
}
