body {
  background: linear-gradient(135deg, #141e30, #243b55);
  font-family: Arial;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  background: rgba(0,0,0,0.6);
  padding: 25px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #00c853;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #00a843;
}

a {
  color: #00e5ff;
  text-decoration: none;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
